
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* Removed @theme block, moved font variables to :root */
:root { 
  --color-primary: #A53DFF; 
  
  --font-raleway: "Raleway", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-work-sans: 'Work Sans', sans-serif;

  --natural-black: #333333;
  --gray-white: #ffffff;
  --gray-900: #132238;
  --gray-600: #556070;
--gray-300:#A5ACB5;
  --light-primay-background: #EDD8FF;
  --grey-1:#556070;
  --gray-50:#F0F1F3;
}
/* Apply Lato font globally for testing */
body {
  font-family: var(--font-poppins);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --hero-section: calc(100vh - 56px); 
} 

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #A53DFF; 

  --header-background:#071a27;
  --circle-background:#8e3cec1a;
  --color-button-from:#55a6a6;
  --color-button-to:#8192a9;
}
}

body {
  font-family: var(--font-work-sans);
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.heading3{
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-900);
  font-family: var(--font-work-sans);
}